
{% extends "base.html" %}

{% block content %}

<header class="masthead text-center text-white d-flex">
    <div class="container my-auto">
      <div class="row">
        <div class="col-lg-6">
          <h2 style="font-size: 45px; /* float: left; */">Essay Writing Service Hire a Writer for Help.</h2>
          <hr>
          <p>We’ll make the grade</p>
          <div class="row" style="padding: 50px;">
            <div class="col-lg-6 col-md-6" style="margin-bottom:  20px">
                <a class="btn btn-xn start"  href="register.html">Get Started</a>
            </div>
            <div class="col-lg-6 col-md-6">
                <a class="btn btn-xn start"  href="register.html">Get Started</a>              </div>
          </div>
        </div>
        <div class="col-lg-6 mx-auto">
            <div class="container">
                <div class="row main">
                    <div class="container">
                    </div>
                </div>
              </div>
        </div>
      </div>
    </div>
  </header>

  

  <section class="bg-primary " id="about">
    <div class="container">
      <div class="row">
          <div class="col-lg-6 mx-auto text-center">
              <h2 class="section-heading text-white">Need a high-quality custom essay? Let EssayPro handle it for you!</h2>
              <hr class="light my-4">
              <p class="text-white mb-4">Our essay writers will gladly help you with:</p>
          </div>
      </div>
      <div class="row row2" >
          <div class="col-lg-3 col-md-3">
          <p>Custom Essay (any type)</p>
          <p>Admission Essay</p>
          <p>Annotated Bibliography</p>
          <p>Article Review</p>
          <p>Book / Movie Review</p>
         </div>
        <div class="col-lg-3 col-md-3">
            <p>Business Plan</p>
            <p>Case Study</p>
            <p>Coursework</p>
            <p>Creative Writing</p>
            <p>Critical Thinking / Review</p>
        </div>
        <div class="col-lg-3 col-md-3">
              <p>Literature Review</p>
              <p>Multiple Choice Questions</p>
              <p>Presentation or Speech</p>
              <p>Reflective Writing</p>
              <p>Report</p>
            </div>
            <div class="col-lg-3 col-md-3">
                <p>Literature Review</p>
                <p>Multiple Choice Questions</p>
                <p>Presentation or Speech</p>
                <p>Reflective Writing</p>
                <p>Report</p>
              </div>
      </div>
      <div class="row row3">
        <div class="container text-center">
            <a class="btn btn-light btn-xl js-scroll-trigger sr-button" href="#services"> PLACE AN ORDER NOW</a>
          </div>
      </div>
    </div>
  </section>


  <section class="p-0" id="portfolio">
    <div class="container-fluid p-0">
        <h2 class="section-heading text-center" style="margin-bottom: 50px; padding-top: 80px;">How to Order an Essay</h2>
      <div class="row">
        <div class="col-lg-7 col-md-7">
          <div class="container">
            <img src="">
          </div>
        </div>
        <div class="col-lg-5 col-md-5" id="instructon">
          <div class="row how" id="how1">
            <h4>1. Submit an Order</h4>
            <div class="col-lg-4 col-md-4">
              <span></span>
            </div>
            <div class="col-lg-8 col-md-8">
                <p>Fill in your paper requirements and place an order. You will receive price offers from our experts within a few minutes.</p>
            </div>
          </div>
          <div class="row how" id="how2">
              <h4>2. Pick a Writer</h4>
              <div class="col-lg-4 col-md-4">
                <span></span>
              </div>
              <div class="col-lg-8 col-md-8">
                  <p>Choose the most suitable essay writer by price, rating and customer reviews. Deposit the contract amount and our professor will begin to write an essay for you.</p>
              </div>
            </div>
            <div class="row how" id="how3">
                <h4>3. Download your Paper</h4>
                <div class="col-lg-4 col-md-4">
                  <span></span>
                </div>
                <div class="col-lg-8 col-md-8">
                    <p>Lastly, you will receive a final draft which you may proofread and edit with your writer. When it’s finished, release funds and leave review for your professional writer.</p>
                </div>
              </div>
              <div class="row how">
                <div class="col-lg-12 col-md-12 text-center">
                    <a class="btn  btn-xc sr-button" href="#">Download Now!</a>
                </div>
              </div>
        </div>
      </div>
     </div>
  </section>


  <section id="services">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">Features</h2>
            <hr class="my-4">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fa fa-4x fa-diamond text-primary mb-3 sr-icons"></i>
              <h5 class="mb-3">Any Deadline - Any Subject</h5>
              <p class="mb-0">Our professional paper writers can complete any assignment, regardless of topic or difficulty.</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fa fa-4x fa-paper-plane text-primary mb-3 sr-icons"></i>
              <h5 class="mb-3">Email and SMS Notifications</h5>
              <p class=" mb-0">Stay informed 24/7 through order updates, new chat messages, uploaded files, etc.</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fa fa-4x fa-newspaper-o text-primary mb-3 sr-icons"></i>
              <h5 class="mb-3">Online Writer Chat</h5>
              <p class="text-muted mb-0">Communicate with your writer at any time to discuss assignment details, request edits, etc.</p>
            </div>
          </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box mt-5 mx-auto">
                  <i class="fa fa-4x fa-heart text-primary mb-3 sr-icons"></i>
                  <h5 class="mb-3">Detailed Writer Profiles</h5>
                  <p class="text-muted mb-0">Look through writer’s rates, reviews, # of completed assignments and subject proficiency.</p>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 text-center">
                  <div class="service-box mt-5 mx-auto">
                    <i class="fa fa-4x fa-heart text-primary mb-3 sr-icons"></i>
                    <h5 class="mb-3">Plagiarism Free Papers</h5>
                    <p class="text-muted mb-0">EssayPro has a strict plagiarism policy. We run each paper through various plagiarism detection tools.</p>
                  </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box mt-5 mx-auto">
                      <i class="fa fa-4x fa-heart text-primary mb-3 sr-icons"></i>
                      <h5 class="mb-3">Affordable Prices</h5>
                      <p class="text-muted mb-0">We offer the lowest price per page in the industry at an average of $10 per page.</p>
                    </div>
                  </div>
        </div>
      </div>
    </section>

  <section class="container-fluid" id="background">
      <div class="container" id="img-txt">
        <div class="row" style="margin-bottom: 20px; font-size: 15px;">
            <div class="col-lg-4">
              <p style="font-weight: 800;">Our essay writing service fulfills every “write my essay” request with the highest level of urgency. Our team of professional writers will work on it relentlessly to ensure that its quality is on another level! No more worries about handing in mediocre papers to demanding professors.</p>
            </div>
          </div>

          <div class="row">
              <div class="col-lg-6">
                  <a class="btn  btn-xc sr-button" href="#">We Can Do That!</a>
                </div>
            </div>
      </div>
      <div>
    </section>

    <section class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                  <h2 class="section-heading">Top Essay Writers</h2>
                  <hr class="my-4">
                  <p>We employ the best professionals on the market. Their rating is based on customer reviews and rates. Our essay writers produce original high-quality papers on any topic even with the tightest deadlines.</p>
                </div>
              </div>
          <div class="row">
            <div class="col-lg-3">
              <div class="waiting"></div>
            </div>
          </div>
          <div class="row">
              <div class="col-lg-12">
                  <div class="container text-center">
                      <a class="btn btn-light btn-xc sr-button" href="#">View All Writers</a>
                    </div>
              </div>
            </div>
        </div>
      </section>

      <section class="container-fluid s-7">
          <div class="container">
              <div class="row">
                 <div class="col-lg-6">
                   <img src="img/face.png" class="img-fluid">
                 </div>
                 <div class="col-lg-6">
                   <div class="row">
                     <h2 class="h--md">People Trust Us</h2>
                   </div>
                   <div class="row">
                      <p>15+ years of experience in custom writing and focus on quality makes us a reliable essay writing service on the market. We help thousands of students every year who often become our satisfied customers and fans.</p>
                   </div>
                    <div class="row">
                      <div class="col-lg-12">
                          <ul class="socialIcons">
                              <li class="facebook"><a href="#"><i class="fa fa-fw fa-facebook"></i>Facebook</a></li> 
                              <li class="twitter"><a href="#"><i class="fa fa-fw fa-twitter"></i>Twitter</a></li> 
                              <li class="instagram"><a href="#"><i class="fa fa-fw fa-instagram"></i>Instagram</a></li> 
                              <li class="pinterest"><a href="#"><i class="fa fa-fw fa-pinterest-p"></i>Pinterest</a></li> 
                              <li class="steam"><a href="#"><i class="fa fa-fw fa-steam"></i>Steam</a></li> 
                           </ul>
                        </div>
                    </div>
                  </div>
              </div>
          </div>
        </section>

        <section id="contact">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                      <h2 class="section-heading">Customer Reviews</h2>
                      <hr class="my-4">
                    </div>
                  </div>
              <div class="row feedback">
                
              </div>
              <div class="row">
                <div class="col-lg-12">
                    <div class="container text-center">
                        <a class="btn btn-light btn-xl sr-button" href="#">View All Writers</a>
                      </div>
                </div>
                </div>
            </div>
          </section>

          <section class="section s-10">
            <div class="container l-0">
              <div class="row">
                <div class="col-lg-6 s-10__content s-10__content-block">
                  <h3 class="h--sm">High-quality Essay Writing Service</h3>
                  <p class="p--sm">We are an essay writing service for students that offers custom essay help at an affordable price. Our company incorporates an accessible website, professional support team and highly skilled writers; this trio can only be provided by the best and most reliable writing service on the market. In addition to paper writing, we present editing and proofreading work upon inquiry.</p>
                  <p class="p--sm">We provide students with even the most urgent writing assignments. It is our prerogative to accommodate high quality along the way. We make it a priority to satisfy any college paper assistance the customer might request.</p>
                </div>
                <div class="col-lg-6 s-10__content s-10__content-block">                     
                    <h3 class="h--sm">Write My Essay</h3>
                    <p class="p--sm">Our website’s system is very user-friendly, with automatic functions to maintain a soothing experience. Our integrated helper team will answer any questions you might have along the way. Furthermore, our service is entirely legal and legitimate.</p>
                    <p class="p--sm">If you are looking for reviews, we have included an open feedback section within the core of the website. Feel free to explore the assessments of work we provided by other users. Our company values your feedback and uses it as a tool for measuring growth and development; doing these helps us meet your needs for future requests. If you are having doubts, check out our Reviews page to see what other customers have to say about EssayPro</p>
                  </div>
              </div>
              <div class="row">
                  <div class="col-lg-6 s-10__content s-10__content-block">
                    <h3 class="h--sm">High-quality Essay Writing Service</h3>
                    <p class="p--sm">We are an essay writing service for students that offers custom essay help at an affordable price. Our company incorporates an accessible website, professional support team and highly skilled writers; this trio can only be provided by the best and most reliable writing service on the market. In addition to paper writing, we present editing and proofreading work upon inquiry.</p>
                    <p class="p--sm">We provide students with even the most urgent writing assignments. It is our prerogative to accommodate high quality along the way. We make it a priority to satisfy any college paper assistance the customer might request.</p>
                  </div>
                  <div class="col-lg-6 s-10__content s-10__content-block">
                      <h3 class="h--sm">Write My Essay</h3>
                      <p class="p--sm">Our website’s system is very user-friendly, with automatic functions to maintain a soothing experience. Our integrated helper team will answer any questions you might have along the way. Furthermore, our service is entirely legal and legitimate.</p>
                      <p class="p--sm">If you are looking for reviews, we have included an open feedback section within the core of the website. Feel free to explore the assessments of work we provided by other users. Our company values your feedback and uses it as a tool for measuring growth and development; doing these helps us meet your needs for future requests. If you are having doubts, check out our Reviews page to see what other customers have to say about EssayPro</p>
                    </div>
                </div>
            </div>
          </section>

          <section id="down">
            <div class="container-fluid" id="academic">
                <div class="row">
                    <div class="col-lg-12 text-center">
                      <h2 class="section-heading">Order A Custom Academic Paper!</h2>
                      <hr class="my-4">
                      <p class="mb-5" style="margin-bottom: 55px">Calculate the approximate cost of your paper.

                        </p>
                    </div>
                </div>
                <div class="row text-center">
                  <div class="col-lg-4">
                    <div class="form-group">
                      <select class="form-control" id="gender1">
                        <option>Male</option>
                        <option>Female</option>
                      </select>          
                      </div>
                  </div>
                  <div class="col-lg-4">
                      <div class="form-group">
                          <select class="form-control" id="gender1">
                            <option>Male</option>
                            <option>Female</option>
                          </select>          
                          </div>
                  </div>
                  <div class="col-lg-4">
                      <div class="form-group">
                          <p> Mininmum Price: <span style="color: #fff;">$0</span></p>          
                          </div>
                  </div>
                </div>
                <div class="row text-center">
                    <div class="col-lg-4">
                      <div class="form-group">
                        <select class="form-control" id="gender1">
                          <option>Male</option>
                          <option>Female</option>
                        </select>          
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <select class="form-control" id="gender1">
                              <option>Male</option>
                              <option>Female</option>
                            </select>          
                            </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <button class="btn btn-xn" id="continue" href="#">continue</button>
                        </div>
                    </div>
                  </div>
            </div>
          </section>

    {% endblock %}